<ul class="nav nav-pills">
  <li class="active">
    <%= link_to "Use cases", project_use_cases_path %>
  </li>
  <li><%= link_to "Templates", project_use_case_templates_path(@project) %></li>
  <li><%= link_to "Add Group", new_project_use_case_group_path(@project) %></li>
</ul>