

<div class="row" style="margin-left:20px;">
    <ul class="new-use-nav">
    	<%if step == 1 %>
        	<li class="active"> 
        <%else%>
        	<li> 
        <%end%>
            <h5 class="numberCircle" >1</h5>
            <h5>Use Case</h5>
        </li>
        <%if step == 2 %>
        	<li class="active"> 
        <%else%>
        	<li> 
        <%end%>
         	<h5 class="numberCircle" >2</h5>
            <h5>Requirements</h5></li>
         <%if step == 3 %>
        	<li class="active"> 
        <%else%>
        	<li> 
        <%end%>
          	<h5 class="numberCircle" >3</h5>
            <h5>Tasks</h5> 
        </li>
    </ul>
</div>