
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-right:250px">
	<% @notifications.each_with_index do | notification , i |%>
	
		<li>
			<a href="../../users/notification/<%= notification.id %>"> New Task! </a>
		</li>

	<% end %>

	<li class="divider"></li>
	<li> <a> See All... </a> </li>

</ul>