<h1>Proyectos </h1>

<ul>
<% @projects.each do |project| %>
<li type="circle">Nombre: <%= project.name %></li>
<% end %>
</ul>

<ul>
<% @projects.each do |project| %>
<li type="circle">Nombre: <%= project.name %></li>
<% end %>

</ul>