<div class='well'>
	<div class='control-group'>
		<div class='control-label'>Name</div>
		<div class='controls atribbute-input' id="name" ><%= text_field_tag 'parameters[parameter_identifier][name]' %>
			<i class="help_name icon-question-sign icon-white help-template-param" data-placement="right" data-toggle="tooltip" data-original-title="Name for your attributte"></i></div>
	</div>
	<div class='control-group'>
		<div class='control-label'>Input Type</div>
		<div class='controls satribbute-select' id="input_type" ><%= select_tag('parameters[parameter_identifier][input_type]', options_for_select(@use_case_template.input_options), :class => 'chosen-select')  %>
		<i class="help_input_type icon-question-sign icon-white help-template-param" data-placement="right" data-toggle="tooltip" data-original-title="Control type for your attributte"></i></div>
	</div>
	<div class='control-group'>
		<div class='control-label'>Data Type</div>
		<div class='controls atribbute-input' id="data_type"><%= select_tag('parameters[parameter_identifier][data_type]', options_for_select(@use_case_template.data_types), :class => 'chosen-select') %>
		<i class="help_data_type icon-question-sign icon-white help-template-param" data-placement="right" data-toggle="tooltip" data-original-title="Data type for your attributte"></i></div>
	</div>
	<div class='control-group'>
		<div class='control-label'>Input Values</div>
		<div class='controls atribbute-input' id="input_values"><%= text_field_tag 'parameters[parameter_identifier][data_input]', nil, :class => 'input-tag', :'data-provide' => 'tag' %>
		<i class="help_input_values icon-question-sign icon-white help-template-param" data-placement="right" data-toggle="tooltip" data-original-title="Values for select, checkbox and radio button control types separate by commas"></i></div>
	</div>
</div>


<script type="text/javascript">
	chosenSelect(218);

	$('.help_name').hover(function(){
		$(this).tooltip('show');	
	})

	$('.help_input_type').hover(function(){
		$(this).tooltip('show');	
	})

	$('.help_data_type').hover(function(){
		$(this).tooltip('show');	
	})

	$('.help_input_values').hover(function(){
		$(this).tooltip('show');	
	})

</script>