/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-image: url('bg.png');
	background-repeat: repeat;

}

.ltl-nav{
	position: absolute;
	top: 42px;
	bottom: 0px;
	left: 0px;
	background-color: #f6f6f6;
		-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
}

.ltl-nav-open{
	width: 200px;
}

.ltl-nav-close{
	width: 50px;
}

.main-content{
	position: absolute;
	height:100%;
	width: auto;
	top: 42px;
	bottom: 0px;
	left: 290px;
}

.main-content-small{
	left: 240px;
}

.main-content-big{
	left: 780px;
}

.close-btn{
	position: absolute;
	width: 5px;
	right: 0px;
	top:0;
	bottom: 0;
	cursor: pointer;
}

.close-btn:hover{

	box-shadow: 10px 0px 5px -2px #888 ;
}



.ltl-nav-list{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;

}

.ltl-nav-list li{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 40px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;

}

.ltl-nav-list li:hover{
	background-color: #d8d8d8;
}


.ltl-nav-list li img{
	float:left;

}

.ltl-nav-list li h4{
	float:center;
	cursor: pointer;
}

.ltl-nav-open .ltl-nav-list li h4{
	visibility: visible;
}

.ltl-nav-close .ltl-nav-list li h4{
	visibility: hidden;
}

