// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.column {
	position:relative;
	width: 280px;
	height:97%;
	float: left;
	min-height: 400px;
	padding: 10px;
	bottom: 0;

	border-right: 1px dashed black;
}

.task{
	height: 100px;
	margin: 5px;

	padding: 5px;

	background-color: rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;

	border-radius: 5px;

	cursor: pointer;



}

.task img {
	height:30px;
	width: 30px;


	margin:5px;
	border-radius: 4px;

}