// Place all the styles related to the document_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hoursCircle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 20px;
    height: 20px;

    padding: 15px;

    background: #fff;
    border: 2px solid;

    text-align: center;

    font-size: 18px;
}