// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.no-bullet
{
    list-style-type: none;
}

.btn-inverse{

   Background-color: #14170D; 
   p{ color:white; }
   h4{ color:white; }
   padding-left: 30px;
   margin-bottom: 20px;
   margin-left: 30px; 
   width: 1000px; 

  border:none 5px #000000;
  -moz-border-radius-topleft: 75px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:75px;
  -webkit-border-top-left-radius:75px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:75px;
  border-top-left-radius:75px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:75px;

    moz-box-shadow:10px 10px 5px #000000;
	-webkit-box-shadow:10px 10px 5px #000000;
	box-shadow:10px 10px 5px #000000;
}
