// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.no-bullet
{
    list-style-type: none;
}

/*.btn-inverse{

   Background-color: #14170D; 
   p{ color:white; }
   h4{ color:white; }
   padding-left: 30px;
   margin-bottom: 20px;  
   width: 1000px; 

  border:none 5px #000000;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright:40px;
  -moz-border-radius-bottomleft:40px;
  -moz-border-radius-bottomright:40px;
  -webkit-border-top-left-radius:40px;
  -webkit-border-top-right-radius:40px;
  -webkit-border-bottom-left-radius:40px;
  -webkit-border-bottom-right-radius:40px;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  border-bottom-left-radius:40px;
  border-bottom-right-radius:40px;

    moz-box-shadow:10px 10px 5px #000000;
	-webkit-box-shadow:10px 10px 5px #000000;
	box-shadow:10px 10px 5px #000000;
}
*/

.details{
  margin-left: 50px;
}

.breadcrumb{
  
}

.graph{
  width: 900px;
  height: 250px;
}

/*=====================================
// SIMPLE BAR CHART
//=====================================*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*=====================================
// HIERARCHY PACK
//=====================================*/

#chart{
  overflow: scroll;
}

text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

/*=====================================
// COLLAPSE TREE
//=====================================*/


.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*=====================================
// HIERARCHY BARS
//=====================================*/

text {
  font: 10px sans-serif;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

/*Control group oh report view*/
.control-group {
    display: inline-block;
    margin-left: 10px; 
    vertical-align: top;
}

.option_chart{
  
   border-top: thin solid #CCC;
   padding-top: 20px; 
}

/*Area of chart*/
.chart_area{
  
  border: thin solid #CCC; 
  margin-top:10px; min-height:500px;
  width:100%;
  padding-top: 20px; 
  background-color: white;
}
